{% extends 'base.html' %}

{% block title %}
: Design
{% endblock %}

{% block linkbar %}
<a href="/">home</a>
{% endblock %}

{% block content %}

<div id="design">
<h1>Design</h1>
<p class="caption">The vast bulk of my graphic design portfolio was lost when my primary hard drive died several months back. But here are some of the remnants that survived the apocalypse as well as some new creations.</p>
<h2>Photoshop</h2>
<img src="/static/images/SkyDiving.png" alt="Skydiving for beer." height="360"/> 
<div class = "caption">
My friends Ted and Colleen skydiving for beer. In the source images Ted was falling off a merry-go-round and Colleen was laying out for a frisbee.
</div>
<img src="/static/images/BatBoy.jpg" alt="Small child defends metropolis." /> 
<div class = "caption">
My nephew Pae Pae making his rounds.
</div>
<img src="/static/images/FootprintLabel.png" alt="Gears" width="600" /> 
<div class = "caption">
A quick concept image for a ecological impact consumer label.
</div>
<img src="/static/images/ManofDestiny.jpg" alt="Man of Destiny." /> 

<img src="/static/images/starcraft.png" alt="Source images." width="600" /> 
<img src="/static/images/starcraft2_SeanPlott.png" alt="Sean Plott of Day9 fame as space marine." width="600" /> 
<img src="/static/images/groupon_engineering.png" alt="Groupon Enineering Logo" width="600" /> 
<div class = "caption">
Made this to celebrate my upcoming Groupon apprenticeship. It will go on a T-shirt to help me impress the ladies.
</div>
<h2>Illustrator</h2>
<img src="/static/images/Strawberry.png" alt="Strawberry" /> 
<img src="/static/images/FancyGears.png" alt="Gears" width="600" /> 
<h2>Blender</h2>
<img src="/static/images/Eye_Ball_Montage.png" alt="Eyeball Montage"/> 
<div class = "caption">
As you can see the textures for the iris and white of this eye were photoshoped composites of source images I took of my own eye. 
Creating the character model into which the eye was inserted actually took vastly longer than the eyeball itself 
(though the eye's photo-realism often impresses people more than the somewhat cartoonish character).
Unfortunately, I haven't gotten around to modeling her some clothes yet, so I'll refrain from sharing the full model until she's decent.
</div>
</div>
{% endblock %}