{% extends 'base.html' %}

{% block linkbar %}
    <li><a href="/design/">design</a></li>
	<li><a href="/resume/">resume</a></li>
	<li><a href="/programming/">programming</a></li>
{% endblock %}

{% block content %}
<h2>About Me</h2>

<p>
	I currently work as a software engineer at Groupon. I started as an apprentice in August 2012, and am continuing to learn at an astounding rate. My team supports several libraries and services surrounding A/B testing and user tracking. I use Javascript, Coffeescript, Backbone, Node.js, and Ruby on Rails on a daily basis, and am constantly expanding my technical horizons. 
</p>
<p>
	I have wide ranging interests including writing, programming, digital art, statistics, economics, business, entrepreneurship,
	and education. I see these things as being intimately connected in many ways. Writing, programming, statistics, and
	graphic design are where the rubber meets the road. They are practical applied skills that can be used to create information
	products that do things, explain ideas, and persuade people. Economics is the key to understanding how to make things happen.
	All real change results from shifts in the structure of human incentives. If you ignore economics, you're unlikely to understand
	why the world works the way it does. Business and entrepreneurship are the best ways to make things happen. Education is probably 
	my core interest. Well, really my core interest is making the world a better place; but I'm pretty sure that the only way to do 
	that is to have an impact on the ideas inside people's heads. So I've put a lot of thought into how to make education work better. 
	The ideas I've come up with mostly involve improving incentives and building powerful web-based tools to assist learning with 
	very low marginal costs. 
</p>
{% endblock %}