{% extends 'base.html' %}

{% block title %}
: Resume
{% endblock %}

{% block linkbar %}
<a href="/">home</a>
{% endblock %}

{% block content %}

<div id="resume">
<h1>Henry Bissonnette</h1>
<div id="email">
</div>

<p class="focal">
	Strong software system builder with experience integrating the work of many teams across multiple platforms to provide essential company-wide insights, taking data from source to final analysis.
</p>

<h2>Present Employment</h2>
<h3><a href="http://www.groupon.com" target="_blank">Groupon</a>, Software Engineer</h3>
Domain expert on user tracking and A/B experimentation systems. Rapidly contribute stable and valuable features to several coordinated systems
that integrate with numerous applications company-wide to aggregate and analyze large amounts of user data.
<ul>
	<li>Co-creator of essential Node.js tracking and A/B testing modules.</li>
	<li>Go-to developer on large business-critical client tracking and A/B testing JS library.</li>
	<li>Major contributor to a suite of front-end developer tools for inspecting and debugging tracking and testing implementations.</li>
	<li>Full stack developer for internal-user-facing Rails application for experiment configuration.</li>
	<li>Builder of a widely used Ember UI for experiment life cycle management.</li>
	<li>Owner of Hive sourced data views for experiment analysis.</li>
	<li>Designer of a monitoring system for production experiment infrastructure.</li>
</ul>

<h2>Relevant Skills</h2>
<ul class="groups">
	<li><span>Programming:</span> JavaScript, Coffeescript, Node, Ruby, Rails, Linux, SQL, Docker</li>
	<li><span>Not Programming:</span> system integration, mathematics, data analysis, agile</li>
</ul>

<h2>Education</h2>

<h3><a href="http://www.indiana.edu/~econweb/" target="_blank">Indiana University, Economics M.A.</a></h3>
<h3>
	<a href="http://www.econ.uconn.edu/" target="_blank">University of Connecticut, Graduate Coursework in Economics</a>
	<span class="note">Transferred to IU</span>
</h3>
<h3><a href="http://www.winona.edu/physics/" target="_blank">Winona State University, Physics B.S.</a></h3>

<h2>Work History</h2>

<h3><a href="http://www.groupon.com" target="_blank">Groupon</a>, Software Engineering Apprentice</h3>
<h3>ITT Technical Institute, Instructor</h3>
<h3><a href="http://www.indiana.edu/~econweb/" target="_blank">Indiana University</a>&#151;Department of Economics, Graduate Assistant</h3>
<h3><a href="http://ccea.uconn.edu/" target="_blank">University of Connecticut&#151;Connecticut Center for Economic Analysis</a>, Research Assistant</h3>

<h2>GitHub</h2>
<a href="https://github.com/henrybissonnette" target="_blank">github.com/henrybissonnette</a></li>

<h2>Other Accomplishments</h2>

<ul class="groups">
	<li><span>Girl Develop It:</span> Assistant Instructor</li>
	<li><span>Graduate Record Exam (GRE):</span> Quantitative: 800/800, Verbal: 710/800</li>
	<li><span>Actuarial Exams:</span> SOA/CAS Exam P/1 (Probability), SOA/CAS Exam FM/2 (Financial Mathematics), SOA/CAS Exam C/4 (Actuarial Models)</li>
</ul>

</div>


{% endblock %}