{% extends 'base.html' %}

{% block title %}
: Resume
{% endblock %}

{% block linkbar %}
<a href="/">home</a>
{% endblock %}

{% block content %}

<div id="resume">
<h1>Henry Bissonnette</h1>
<div id="email">
</div>

<h2>Education</h2>

<h3><a href="http://www.indiana.edu/~econweb/" target="_blank">Indiana University, Economics M.A.</a></h3>
<h3>
	<a href="http://www.econ.uconn.edu/" target="_blank">University of Connecticut, Graduate Coursework in Economics</a> 
	<span class="note">Transferred to IU</span>
</h3>
<h3><a href="http://www.winona.edu/physics/" target="_blank">Winona State University, Physics B.S.</a></h3>

<h2>Work History</h2>

<h3>
	<a href="http://www.itt-tech.edu/campus/school.cfm?lloc_num=65" target="_blank">ITT Technical Institute</a>, Instructor
	<span class="note">Present Employer</span>
</h3>
<ul>
	<li>Teach Microeconomics, Macroeconomics, Economics and Change, and Cost and Budget for Project Management.</li>
	<li>Create unique course material and utilize online course management software and assessments.</li>
</ul>

<h3>Indiana University&#151;Department of Economics, Graduate Assistant</h3>
<ul>
	<li>Taught weekly review sessions to about a hundred microeconomics students.</li>
	<li>Proctored exams, held office hours, dealt with student concerns.</li>
</ul>

<h3><a href="http://ccea.uconn.edu/" target="_blank">University of Connecticut&#151;Connecticut Center for Economic Analysis</a>, Research Assistant</h3>
<ul>
	<li>Collected and Analyzed economic data using Mathematica, Matlab, Stata, and Excel.</li>
	<li>Coordinated undergraduate assistants and developed research objectives and priorities.</li>
	<li>Devised original nonparametric statistical models for income growth by neighborhood in Bridgeport CT.</li>
</ul>

<h2>Programming Skills</h2>

<ul class="groups">
	<li><span>Programming Languages (Proficient): </span> JavaScript, jQuery,  Mathematica, Python, R</li>
	<li><span>Programming Languages (Some Experience): </span>Java, Lisp, Matlab, SQL, SAS, Stata, Visual
Basic, Django</li>
	<li><span>Software: </span>Adobe Illustrator, Adobe Photoshop, Aptana Studio (Eclipse), Blender, MS Office (Excel, Word, Powerpoint, Access)</li>
	<li><span>Other: </span>AJAX, CSS, HTML, JSON,  LaTeX</li>
</ul>

<h2>Sample Programming Project</h2>

<ul class="groups">
	<li><span>URL:</span> <a href="http://www.bliterati.com" target="_blank">www.bliterati.com</a></li>
	<li><span>Description:</span> A dynamic site intended to facilitate sharing of long form writing on the
web. Allows users to self-publish, use a <a href="//slashdot.org" target="_blank">Slashdot</a> style comment system, share drafts,
and develop reputations as authors and moderators. In development. Most
functionality is only visible to registered users.</li>
	<li><span>Code:</span> <a href="https://github.com/henrybissonnette/hanksandbox" target="_blank">https://github.com/henrybissonnette/hanksandbox</a></li>
</ul>

<h2>Other Accomplishments</h2>

<ul class="groups">
	<li><span>Graduate Record Exam (GRE):</span> Quantitative: 800/800, Verbal: 710/800 (98th percentile)</li>
	<li><span>Actuarial Exams:</span> SOA/CAS Exam P/1 (Probability), SOA/CAS Exam FM/2 (Financial Mathematics), SOA/CAS Exam C/4 (Actuarial Models)</li>
</ul>

</div>


{% endblock %}